{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
//    "no-console": 0,
    "unicorn/filename-case": 0,
    "array-callback-return": 0,
    "@typescript-eslint/ban-ts-ignore": "off",
    "max-params": "off",
    "no-warning-comments": "off",
    "no-await-in-loop": "off"
  }
}
