{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
//    "no-console": 0,
    "unicorn/filename-case": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "array-callback-return": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "max-params": "off",
    "no-warning-comments": "off",
    "no-await-in-loop": "off",
    "function-paren-newline": ["error", { "minItems": 3 }],
    "function-call-argument-newline": ["error", "consistent"]
  }
}
